@media (max-width: 1399.98px) {}

@media (max-width: 1199.98px) {

    /************* Inedx *************/
    .service {
        margin-top: 70px;
    }

    .service .head .title {
        font-size: 35px;
    }

    .service .head .subtitle {
        font-size: 35px;
    }

    .cta {
        margin-top: 70px;
    }

    .timeline {
        margin-top: 70px;
    }

    .timeline__event__title {
        text-align: center;
    }

    .timeline__event__description {
        text-align: center;
    }

    .banner {
        background-size: cover, cover;
        padding: 30px;
        margin-top: 70px;
    }

    .banner img {
        width: auto;
        height: auto;
        margin-bottom: 50px;
    }

    .banner .title {
        text-align: center;
    }

    .banner .desc {
        text-align: center;
    }

    .faq {
        margin-top: 70px;
    }

    .blog {
        margin-top: 70px;
    }

}

@media (max-width: 991.98px) {}

@media (max-width: 767.98px) {}

@media (max-width: 575.98px) {}